.links
{
    margin-top: 130px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; /* centers items vertically */
}

.bubble
{
    text-decoration: none;
    
    font-size: 25px;

    background: #ead5c6;
    padding: 15px 30px;
    border-radius: 9999px; /* pill shape */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-decoration: none;
    color: black;

    margin-top: 20px;
    width: 50%;
    transition: 0.5s;
}

.bubble:hover 
{
    background: #87CEFA; /* light blue on hover */
}