@media (max-width: 600px) /* changes when the viewport gets 600px or smaller */ 
{
    .latest{
        flex-direction: column; /* changes flex direction to column */
        gap: 20px;
    }

    .latest_button
    {
        max-width: 400px; /* still limits it on larger screens */
        /* makes the entier div 400px wide */
    }
}

.home_page
{
    background-color: #ead5c6;

    margin-top: 150px;
    margin-right: 10px;
    margin-left: 10px;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    max-width: 100%;

    font-family: 'Times New Roman'
}

.latest
{
    margin-top: 45px;

    display: flex;
    align-items: center; /* aligns vertically */ 
    justify-content: space-evenly;
}

.latest_button
{
    cursor: pointer;
    
    text-decoration: none;

    position: relative; /* to anchor any position: absolute child elements */
    width: 500px;
    height: 300px;
    overflow: hidden; /* any child element that overflows this element will be cut off */
}

.latest_button img
{
    width: 100%;
    height: 100%;
    object-fit: cover; /* crops image, fits image and keeps aspect ratio */
    object-position: center;
}

.overlay
{
    position: absolute; /* works with position: relative */
    /* relative [absolute] */
    /* positioning elements makes it so that it positions absolute to the relative */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    color: white;
    transition: 0.3s;
}

.title 
{
    position: absolute;
    /* works with position: relative */
    /* relative [absolute] */
    /* positioning elements makes it so that it positions absolute to the relative */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 10px;
    font-size: 30px;
    width: 100%;
    bottom: 0;
    left: 0;

    opacity: 1; /* only targets font */
}

.readnow 
{
    position: absolute; 
    top: 35%;
    left: 50%;
    opacity: 0;
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s;

    transform: translate(-50%, -50%); /* centers it */ 
}

/* Hover effect */
.latest_button:hover img {
    opacity: 0.4;
}

.latest_button:hover .readnow {
    opacity: 1;
}

.latest_button:hover .title
{
    opacity: 0;
}
